/BlockOut/nbproject/private/
/BlockOutProject/nbproject/private/
/BlockOutProject/build/
/BlockOutProject/dist/
/Tikkupeli/nbproject/private/
/Tikkupeli/build/
/Tervehtija/nbproject/private/
/Tervehtija/build/